/* General Styles */
body {
    font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;
    margin: 0;
    padding: 0;
    background-image: url("images/bg.avif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: rgba(255, 255, 255, 0.893);
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-size: 20px;
    height: 50px;
 }

/* theme button */
#theme-mode {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: inset -3px -3px rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.893);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

#theme-mode:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Main Content */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Quiz Wrapper */
.quiz-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

.image-container{
    /* background-color: pink; */
    width: 100%;
    height: 250px;
}

/* Image Container */
.image-container img {
    width: 100%;
    height: 250px;
    background-size:center;
    margin-bottom: 15px;
    border-radius: 5px;
}

#question-heading {
    font-size: 2rem;
}

#question-text {
    font-size: 1.1rem;
}

/* Question Container */
.question-container input {
    padding: 12px;
    margin: 10px;
    width: 75%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-group button {
    margin: 20px 0px;
    padding: 10px 20px;
    width: 40%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.3s;
}

.next-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset -3px -3px rgba(255, 255, 255, 0.3);
}

.skip-btn:hover {
    background-color: rgba(255, 0, 0, 0.648);
    box-shadow: inset -3px -3px rgba(255, 255, 255, 0.3);
}



/* Error Message */
.error {
    color: red;
    font-size: 1rem;
    margin-top: 5px;
    z-index: 2;
}

/* Results */
#result-container {
    display: none;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

/* Try Again Button */
#result-container button {
    margin: 20px 0px;
    padding: 12px;
    width: 40%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

#result-container button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset -3px -3px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


/* Theme modes */
/*  header and footer theme effect */
.light {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}
.dark {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.893);
}


/* quiz and result box theme effect */
.light_box {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: inset -6px -6px rgba(255, 255, 255, 0.2);
    color: black;
}
.dark_box {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -6px -6px rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.893);
}

/* input field theme effects */
.light_input {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: inset -3px -3px rgba(255, 255, 255, 0.2);
    color: black;
}
.dark_input {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.893);
}

/* button theme effect */
.light_button {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: inset -3px -3px rgba(255, 255, 255, 0.2);
    color: black;
}
.dark_button {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.893);
}